<div class="selectedmovie row">

  <div class="head col-12 col-lg-4 col-xl-4 mt-1">
    <h1>A film címe: <span> {{movie?.title}} </span></h1>
    <h2>Eredeti cím: {{movie?.original_title}} </h2>

    <div class="selectedmovie-img mt-1">
      <img [src]="movie?.cover" [alt]="movie?.title" [title]="movie?.title">
    </div>

  </div>

  <div class="body col-12 col-lg-8 col-xl-8 mt-1 pr-1 pl-1 text-center">
    <h2>További részletek</h2>

    <table class="col-12 mt-2 mb-2">
      <tr>
        <td><fa-icon [icon]="age"></fa-icon> Korhatár:</td>
        <td>{{movie?.age}} </td>
      </tr>
      <tr>
        <td> <fa-icon [icon]="times"></fa-icon>
          Időtartam:</td>
        <td>{{movie?.time}} perc </td>
      </tr>

      <tr>
        <td> <fa-icon [icon]="camera"></fa-icon> Rendező:</td>
        <td>{{movie?.director}} </td>
      </tr>

      <tr>
        <td><fa-icon [icon]="actor"></fa-icon> Szereplők:</td>
        <td>{{movie?.actors}} </td>
      </tr>

      <tr>
        <td><fa-icon [icon]="genre"></fa-icon> Film műfaj:</td>
        <td>{{movie?.genre}} </td>
      </tr>
    </table>
  </div>

</div>